/* Accueil Page Styles */
.accueil-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;
  background-color: #eee;
}

.background-image {
  background-image: url('../../images/background-banner.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;
  margin-top: -50px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


.background-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 2rem;
  text-align: center;
}


.background-portrait {
  margin-bottom: 2rem;
}

.background-portrait img {
  max-width: 400px;
  height: auto;
  object-fit: contain;
  border-radius: 12px;
}

h1, h2 {
  margin: 0;
  padding: 10px;
}

h1 {
  color: white;
  font-size: 2.5rem;
  z-index: 10;
  position: relative;
}

h2 {
  color: white;
  font-size: 2rem;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* About Section Box */
.about-content {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 75px;
  margin: 50px;
  border-radius: 10px;
  gap: 30px; /* Space between left and right sections */
  max-width: 1200px;
  margin: 0 auto; /* Center the content */
}





.line {
  width: 100%;
  height: 2px;
  background-color: #007bff;
  
  
}

.about-details p {
  margin-top: 30px;
  font-size: 1.25rem;
}







/* Mobile Version */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;  /* Stack content on mobile */
    padding: 20px; /* Less padding on mobile */
  }

  

  .progress-bars {
    margin-top: 20px;
    width: 100%; /* Ensure progress bars fit on mobile */
  }

  .about-photo {
    width: 50%; /* Limit image size on mobile */
    height: auto;
    margin-left: -25px;
    position: relative;
  }
}

/* Tablet Version */
@media (min-width: 768px) and (max-width: 1024px) {
  .about-content {
    flex-direction: row; /* Keep side-by-side layout on tablets */
    text-align: left;
    padding: 30px;
  }

  

  .progress-bars {
    width: 100%;
  }

  
  
}


